/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

img {
    display: block;
    width: 100%;
}

header {
    text-align: center;
    background-color: black;
    padding: 30px 0;
}

main {
    max-width: 1600px;
    margin: 50px auto;
}



/* MAIN */
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    text-align: center;
}

li {
    width: calc((100% - 20px) / 3);
    line-height: 1.8;
}

div.img {
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

.result {
    line-height: 1.5;
    margin: 100px;
    font-size: 30px;
}